*{
	margin: 0;
	padding: 0;
	word-break: keep-all;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, "Lucida Grande", sans-serif;
}

header{
	background: url(tittle.svg)
	no-repeat top center;
	position: fixed;
	justify-content: center;
	margin-bottom: 50px;
	width: 100vw;
	top:0;
	left: 0;
	height: 80px;
	z-index: 5;
}


h1{ text-align: center;
		font-size: 3rem;
	 	width: 35vw;
	 	overflow: hidden;
}
h2{ font-size: 2.5rem;
		margin-bottom: 70px;
}
h3{ text-align: center;
	font-size: 1.4rem;
	line-height:2em;
	overflow: auto;
	width: 35vw;
 }
p{ font-size: 1.2rem;
	font-weight:500; 
	line-height: 1.6rem;}
nav{ display: flex;
		position: fixed;
		margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
 

}
article{
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 40px;
}
section{
	 padding:  1vw 0;
   position: relative;
   scroll-snap-align: start;
	 display: flex;
	 margin-top: 80px;


}
ul{
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: nowrap;
	padding-left: 70px;
	margin-bottom: 200px;
	
}
li{ 
	list-style: none;
	padding-left: 30px;
	flex-direction: row;
	display: inline-flex;
	align-items: flex-end;
	flex-wrap: nowrap;
}
img{ overflow-clip-margin: content-box;
    overflow: clip;
/*	box-shadow: 0px 3px 10px lightgray;*/*/
}


footer{ 
    background-color: #00FF0A;
    display: flex;
    margin-top: 3vw;
    padding: 1vw;
    scroll-snap-align: start;}

.text-row {
    font-size: 60px;
    justify-content: center;
    background: #0000CC;
    color: white;
    width: 100%;
    max-width: 100%; 
    position: relative;
    padding-bottom: 100px;
    padding-top: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.text-row .loop {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 30s linear infinite;
}
@keyframes marquee{
0% {
    transform: translateX(0);}
100% {
    transform: translateX(-50%);}
}
.text-row2 {
    font-size: 60px;
    justify-content: center;
    font-weight: 400;
    background: #000000;
    color: white;
    width: 100%;
    max-width: 100%; 
    position: relative;
    padding-bottom: 100px;
    padding-top: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.text-row2 .loop2 {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee1 30s linear infinite;
}
@keyframes marquee1{
0% {
    transform: translateX(-50%);}
100% {
    transform: translateX(0);}
}
.wrap {
    width: 75%;
    margin: auto;
    position: relative;
    display: block;
}
.section1{
	padding: 100px 0px;
	color: white;
	margin-top: 0;
	height: 1300px;
}
.left{
	padding-right: 80%;
}
.right{
	padding-left: 50%;
}
.column{
    position: absolute;
    top: 300px;
    left: 70%;
    transform: translate(-50%, -50%);
}
}
.ul1{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: nowrap;
	padding: 0;
	margin-top: 100px;
}
.li1{ 
	list-style: none;
	flex-direction: column;
	display: ;
	align-items: center;
	flex-wrap: nowrap;
}

.logo{
    position: absolute;
    top: -18vh;
    right: 1vw;
    width: 12vw;
}
.block{
	display: block;
}
.center{
	display: flex;
	justify-content: center;
}
.main-svg{
	padding-right: 100px;
	padding-left: 100px;
	z-index: 3;
	width: 30vw;
}
.main{
	display: flex;
	flex-direction: column;
	margin-top: 12vw;
}

.text-wrap:first-child {
    margin-bottom: 10vw;
}
.text-wrap {
	 font-size: 1.7rem;
	 line-height: 1.5;
    display: flex;

    gap: 200px;
}
.text-area-body {
    margin-right: 1.5vw;
    max-width: 30vw;
    max-height: 32vw;

   }
.section-gradation{
	  height: 1000px;
  background: linear-gradient(141deg, #ffffff 0%, #00ff0A 51%, #2cb5e8 75%);
}
.section-index {
    padding-bottom: 1.8vw;
    padding-top: 3.8vw;
    min-height: fit-content;
    position: sticky;
    bottom: 0;
    width: vw;
    z-index: 100;
   }
.index{
    display: flex;
    justify-content: center;
    width: 100%;
}
.index2{
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    font-size: 0.9vw;
    height: 2.2vw;
    display: flex;
    line-height: 2.2vw;
    text-align: center;
    width: 100%;
}
.index-menu:hover{
	background-color: black;
	color: white;

}
.index-menu2:hover{
	background-color: black;
	color: white;

}
.section-black{
	top: ;
   position: relative;
   scroll-snap-align: start;
	 display: flex;
	background: black;
}
.black{
	background-color: black;
}
.blue{
	background-color: #0000CC}
.green{
	background-color:#00FF0A ;
}
.index-menu{
    border-left: solid black 1px;
    width: 20%;

 }
 .index-menu2{
    border-left: solid black 1px;
    border-right: solid black 1px;
    width: 20%;
 }
 .k{
 	width: 800px;
 }
.isy{
	width: 520px;
}
.cyber{
	width: 600px;
}
.arc{
	width: 670px;
}
.small{
	height: 700px;
}
.short{
	width: 80px;
	height: 600px;
}
.race{
	height: 800px;
}
.park{ 
	height:550px; 
}
.long{
	height:650px;
}

.r1{
	transform: rotate(-3deg);
	z-index: -1;
}
.r2{
	transform: rotate(4deg);
	z-index: -1;
}
.li:hover{
 	transform: scale(1.1)rotate(-3deg);
 	transform-origin: bottom center;
 	}

.white{color: white}

.button {
	border-radius: 25px;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1{
  background-color: black; 
  color: white; 
  margin-top: 20px;
/*  border: 2px solid #000000;*/
}

.button1:hover {
  background-color: white;
  color: black;
}
.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 20px;
}

.button1:hover span:after {
  opacity: 1;
  right: 10;
}
.sq2{ 
	background:#00FF0A;
	top: 0;
	display: inline-block;
	position: absolute;
	text-align: center;
	line-height: 1.4;
	border-radius: 15px;
	padding: 25px 20px;
	width: 200px;
	height: 130px;
	border:1px solid black;
	margin-block-start: 15em;
  margin-block-end:15em;
  margin-inline-start:70vw;
  margin-inline-end: 70vw;
   
}
.sq3{ 
	background:#00FF0A;
	top: 0;
	align-items: center;
	display: inline-block;
	position: absolute;
	text-align: center;
	font-size: 1.4rem;
	line-height: 1.4;
	border-radius: 15px;
	padding: 50px 30px 10px;
	width: 300px;
	height: 180px;
	border:1px solid black;
	margin-block-start: 23em;
  margin-block-end:23em;
  margin-inline-start:50vw;
  margin-inline-end: 50vw;
}
.sq4{ 
	background:#00FF0A;
	top: 0;
	align-items: center;
	display: inline-block;
	position: absolute;
	text-align: center;
	font-size: 1.5rem;
	line-height: 1.4;
	border-radius: 15px;
	padding: 60px 30px 0px;
	width: 300px;
	height: 400px;
	border:1px solid black;
	margin-block-start: 17.5em;
  margin-block-end:17.5em;
  margin-inline-start:48vw;
}

.container{
	
	z-index: -1;
}
.square{
		display: flex;
	 	padding: 100px 30px;
		background: 
		linear-gradient(to right, #ffffff 0%, #00FF0A 100%);
		border-radius: 25px;
		width: 70vw;
		height: 400px;
	
	}


}
body {
  background-color: #4F4E68;
}

.book {
		z-index: -1;

		right: 8vw;
 	 	width: 20rem;
  	height: 19rem;
  	perspective: 40rem;
}
.cover {
  background-color: #000000;
  transform: rotateY(0deg);
  width: 19rem;
  height: 18rem;
}
.page {
  top: 0.3rem;
  left: 0.3rem;
  background-color: #00FF0A;
  transform: rotateY(0deg);
  width: 18.5rem;
  height: 16.5rem;
}
.page::before, .page::after {
  display: block;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
   padding-bottom: 1rem;
}
.cover, .page {
	justify-content: center;
  position: absolute;
  padding: 1rem;
  transform-origin: 100% 0;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.cover.turn {
  animation: bookCover 3s forwards ;
}
.page.turn {
  animation: bookOpen 3s forwards ;
}
.page:nth-of-type(1) {
  animation-delay: 0.05s;
}
.page:nth-of-type(2) {
  animation-delay: 0.33s
}
.page:nth-of-type(3) {
  animation-delay: 0.66s;
}
.page:nth-of-type(4) {
  animation: bookOpen150deg 3s forwards ;
  animation-delay: 0.99s;
}
.page:nth-of-type(5) {
  animation: bookOpen30deg 3s forwards;
  animation-delay: 1.2s;
}
.page:nth-of-type(6) {
  animation: bookOpen55deg 3s forwards;
  animation-delay: 1.25s;
}
@keyframes bookOpen {
  30% { z-index: 999 }
  100% {  transform: rotateY(180deg);
    z-index: 999;}
}
@keyframes bookCover {
  30% { z-index: 999 }
  100% {  transform: rotateY(180deg);
    z-index: 1;}
}
@keyframes bookOpen150deg {
  30% { z-index: 999 }
  100% {  transform: rotateY(150deg);
    z-index: 999;}
}
@keyframes bookOpen55deg {
  30% { z-index: 999 }
  100% {  transform: rotateY(55deg);
    z-index: 999;}
}
@keyframes bookOpen30deg {
  50% { z-index: 999 }
  100% {  transform: rotateY(30deg);
    z-index: 999;}
